* {
  margin:0;
  padding:0;
}
 
body {
  width: 60em;
  margin: 0 auto;
}
 
#cabecera{
  background-color: #eee;
  padding: 0.625em;
  margin: 0.625em;
}
 
#pie {
  background-color: #eee;
  padding: 0.625em;
  margin: 0.625em;
  clear:both;
}
 
.columna1, .columna2, .columna3 {
  background-color: #eee;
  width: 17.5em;
  float: left;
  margin: 0.625em;
  padding: 0.625em;
}
 
li {
  display: inline;
  padding: 0.313em;
}