* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
 
body {
  
  margin: 0 auto;
  justify-content: center;
}

#cabecera{
  width: 800px;
  background-color: #eee;
  padding: 10px;
  margin: 10px;
}
 
#pie {
  width: 800px;
  background-color: #eee;
  padding: 10px;
  margin: 10px;
  clear:both;
}
 
.columna1, .columna2, .columna3 {
  width: 70%;
  background-color: #eee;
  width: 280px;
  float: left;
  margin: 10px;
  padding: 10px;
}
 
li {
  display: inline;
  padding: 5px;
}
